/* ---- Google Fonts ---- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
/* ---- Custom Properties ---- */
:root{
    /* Colors */
    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);
    --clr-darkblue: hsl(234, 12%, 34%);
    --clr-grayblue: hsl(229, 6%, 66%); 
    --clr-lightgray: hsl(0, 0%, 98%);

    /* Fonts and Typography */
    --ff-primary: 'Poppins', sans-serif;

    --fs-h1: 1.6rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-normal: .938rem;
    --fs-small: .813rem;

    --fw-light: 200;
    --fw-reg: 400;
    --fw-semibold: 600;

    /* Box Shadow */
    --bxs-card: 2.5px 10px 40px -22px rgba(0,0,0,0.62);
    
    /* Others */
}
/* Desktop  */
@media screen and (min-width: 768px){
    :root{
        --fs-h1: 2.5rem;
        --fs-h2: 2rem;
        --fs-h3: 1.5rem;
        --fs-normal: 1rem;
        --fs-small: .938rem;
    }
}
/* ---- General Styles ---- */
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--clr-lightgray);
    color: var(--clr-grayblue);

    font-family: var(--ff-primary);
    font-size: var(--fs-normal);
    font-weight: var(--fw-reg);

    min-height: 100vh;
}
img{
    display: block;
    max-width: 100%;
}
/* Typography */
h1{
    font-size: var(--fs-h1);
    font-weight: var(--fw-light);
}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

h1,
h2,
h3{
    color: var(--clr-darkblue);
}
/* Layout */
.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}
/* ---- Section Styles ---- */
.section{
    padding: 4rem 2rem 1rem;
}
.section__title{
    margin-bottom: 1.5rem;
}
/* Features Section */
.features{
    text-align: center;
}
.section__title--features {
    line-height: 1.3;
}
.section__title--features span{
    display: block;
    font-weight: var(--fw-semibold);
}
.section__subtitle--features{
    max-width: 550px;
    margin: 0 auto;
}
.section__body{
    margin-top: 4rem;
}
.feature{
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-top: 4px solid var(--clr-cyan);
    max-width: 325px;
    margin-bottom: 1.5rem;
    padding: 1.2rem 2rem;
    border-radius: 5px;

    text-align: left;
    font-size: var(--fs-small);
    box-shadow: var(--bxs-card);
}
.feature:nth-child(2){border-top-color: var(--clr-red);}
.feature:nth-child(3){border-top-color: var(--clr-orange);}
.feature:nth-child(4){border-top-color: var(--clr-blue);}
.feature__title{
    margin-bottom: .5rem;
}
.feature__description{
    margin-bottom: 2rem;
}
.feature__img{
    margin-left: auto;
}

/* Footer */
footer{
    padding: 3rem;
}

/* Media Queries */
@media screen and (min-width: 850px){
    .section__body--features{
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: "sup tb calc"
                             ". kar .";
    }
    .feature{
        margin-bottom: initial;
    }
    .feature--supervisor{
        grid-area: sup;
    }
    .feature--team{
        grid-area: tb;
    }
    .feature--karma{
        grid-area: kar;
    }
    .feature--calculator{
        grid-area: calc;
    }
    .feature--supervisor,
    .feature--calculator{
        grid-row: 1/-1;
        align-self: center;
    }
}